In [1]:
import time
import json
import datetime
import numpy as np
import pandas as pd
from dateutil.parser import parse
from data.mongo_storage import MongoStorage
from engine.single_interval_allocator import SingleIntervalAllocator
from engine.rebalancer import Rebalancer

from helper.yaml import load_yaml   

single_config = load_yaml('example_single_config.yaml')
rebal_config = load_yaml('example_rebalancer_config.yaml')

# from rebalance.single_simulation import PortfolioSimulation
# from rebalance.full_simulation import FullPortfolioSimulation, StatisticalTest
# from simulation.run_multiprocessing import run_simulation
# from google.google_sheet import get_settings, get_gworksheet, worksheet_to_pandas

# import task.google_task as gt

MS = MongoStorage()
id_list = MS.Find(id_only=True)
series_list = MS.Load(id_list[0])
coll = MS.client["AnalysisEvo"]["Strategy"]

In [2]:
%%time 
p = SingleIntervalAllocator(**single_config)
track_df, excluded = p.get_output()

CPU times: user 321 ms, sys: 7.91 ms, total: 329 ms
Wall time: 332 ms

In [ ]:
%%time
p = Rebalancer(**rebal_config)

In [ ]:
output = p.get_output()

In [15]:
output[8]["track_df"]

,Name,StartDate,OOSDate,EndDate,_id,weight_0,weight
0,EEM,2003-04-14,2019-10-27,2020-02-24,5dbbe7cd74ad1582ecf03582,0.056320,0.056320
1,EFA,2001-08-20,2019-10-27,2020-02-24,5dbbe7cd74ad1582ecf03584,0.087781,0.087781
2,EURUSD,2000-01-05,2019-10-28,2020-02-25,5dbbe7ce74ad1582ecf03586,0.150677,0.150677
3,GBPUSD,2000-01-05,2019-10-28,2020-02-25,5dbbe7ce74ad1582ecf03588,0.095936,0.095936
4,GLD,2004-11-19,2019-10-27,2020-02-24,5dbbe7ce74ad1582ecf0358a,0.084900,0.084900
6,JNK,2007-12-05,2019-10-27,2020-02-24,5dbbe7ce74ad1582ecf0358e,0.138016,0.138016
7,SPY,2000-01-05,2019-10-27,2020-02-24,5dbbe7ce74ad1582ecf03590,0.109326,0.109326
8,TLT,2002-07-29,2019-10-27,2020-02-24,5dbbe7ce74ad1582ecf03592,0.084022,0.084022
9,USDJPY,2000-01-05,2019-10-28,2020-02-25,5dbbe7ce74ad1582ecf03594,0.091937,0.091937
10,USO,2006-04-11,2019-10-27,2020-02-24,5dbbe7ce74ad1582ecf03596,0.029342,0.029342
12,XIV,2004-03-30,2017-12-21,2018-06-19,5dbbe7cf74ad1582ecf0359a,0.020126,0.020126
13,ZIV,2004-03-29,2019-10-27,2020-02-24,5dbbe7cf74ad1582ecf0359c,0.051616,0.051616